anyio
asttokens
async-generator
attrs
backcall
beautifulsoup4
certifi
cffi
charset-normalizer
click
colorama
comm
contourpy
cycler
debugpy
decorator
entrypoints
et-xmlfile
exceptiongroup
executing
fastapi
filelock
fonttools
greenlet
h11
idna
ipykernel
ipython
jedi
Jinja2
joblib
jupyter_client
jupyter_core
kiwisolver
lxml
MarkupSafe
matplotlib
matplotlib-inline
nest-asyncio
nltk
numpy
oauthlib
openpyxl
outcome
packaging
panda
pandas
parso
patsy
pickleshare
Pillow
platformdirs
prompt-toolkit
psutil
pure-eval
pyarrow
pycparser
pydantic
Pygments
PyMySQL
pyparsing
PySocks
python-dateutil
python-snappy
pytz
pywin32
pyzmq
regex
requests
requests-oauthlib
scikit-learn
scipy
seaborn
six
sniffio
sortedcontainers
soupsieve
SQLAlchemy
stack-data
starlette
statsmodels
textblob
threadpoolctl
tornado
tqdm
traitlets
trio
trio-websocket
typing_extensions
urllib3
uvicorn
wcwidth
wordcloud
wsproto
xgboost
xlrd
